<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest.xml
  JDGSoundboard

  Copyright (c) 2019 Vincent Lammin
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning"
    package="com.atmx.android.jdgspl"
    android:installLocation="auto"
    android:versionCode="330"
    android:versionName="3.3.0">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.atmx.android.jdgspl.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SoundboardActivity"
            android:label="@string/app_name"/>

        <provider
            android:name="com.commonsware.cwac.provider.StreamProvider"
            android:authorities="com.atmx.android.jdgspl"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.commonsware.cwac.provider.STREAM_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
            <meta-data
                android:name="com.commonsware.cwac.provider.USE_LEGACY_CURSOR_WRAPPER"
                android:value="true"/>
            <meta-data
                android:name="com.commonsware.cwac.provider.USE_URI_FOR_DATA_COLUMN"
                android:value="true"/>
        </provider>

    </application>

</manifest>